name: Deploy Go Docker App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@YOUR_EC2_IP << 'EOF'
            
            cd /home/ubuntu/dev/go-crud-docker-action
            git reset --hard
            git pull origin main

            # Stop old container
            docker stop go-docker-app || true
            docker rm go-docker-app || true

            # Build & run new container
            docker build -t go-docker-app:latest .
            docker run -d -p 8080:8080 --name go-docker-app go-docker-app:latest
          EOF
